#splash {
  .legal {
    display: block !important;
    margin: 40px auto;

    h1, h2, h3, h4 {
      color: #6B7B8D;
      font-weight: 400;
    }

    h1 {
      font-size: 2rem;
      margin: 20px 0 0 0;
    }

    h2 {
      font-size: 1.6rem;
      margin: 20px 0;
    }

    h3 {
      font-size: 1.0rem;
    }

    h4 {
      font-size: 0.8rem;
      font-weight: normal;
    }

    p, ol, li {
      font-size: 1.0rem;
      font-weight: 300;
      color: #3F505B;
      line-height: 28px;
      margin-bottom: 1em;
    }

    li {
      margin-bottom: 0.33em;
    }

    a {
      color: #669EFF;
    }
  }
}
