/**
 * Promo Banner
 */
.promoMixin(@promoPrimaryColor) {
  position: relative;
  padding: 50px 0 50px 0;
  color: @white;
  background-color: @promoPrimaryColor;
  text-align: center;

  h3 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 20px 0 10px 0;
  }

  h4 {
    font-size: 1.375rem;
    line-height: 1.36;
    font-weight: 400;
  }

  .btn {
    background: @white;
    border: 1px solid darken(@promoPrimaryColor, 15%);
    color: @promoPrimaryColor;
  }
}
